<h1>Authors Information</h1>

{{!-- Form to add a record to the table  --}}
<form id="add-author-form">
    <label for="input-authorName">Author Name: </label>
    <input type="text" name="input-authorName" id="input-authorName">

    <input type="submit">
</form>

{{!-- Create a table --}}
<table id="author-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr >
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the author ID and author name --}}
        {{#each data}}
        <tr data-value={{this.authorID}}>
            <td>{{this.authorID}}</td>
            <td>{{this.authorName}}</td>
            <td><button onclick="deleteAuthor({{this.authorID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Updating an Author's Name</h2>
<p>To update a specific author's name, select their name from the drop-down menu on the left and enter their new name on the right</p>
<form id="update-author-form-ajax">

    <label for="input-author">Author: </label>
    <select name="input-author" id="mySelect">
        <option value="test">Select an Author</option>
        {{#each data}}
        <option value="{{this.authorID}}">{{this.authorName}}</option>
        {{/each}}
    </select>

    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name-update">

    <input type="submit">

</form>

<script src="./js/update_author.js"></script>
<script src="./js/delete_author.js"></script>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_author.js"></script>