<title> Books</title>
<body>
<h1>Books Information</h1>

	<!-- Add form -->
	<form id="add-form">
		<label for="bookName">Book Name:</label>
		<input type="text" id="bookName" name="bookName">
		<label for="authorName">Author Name:</label>
		<input type="text" id="authorName" name="authorName">
		<label for="genreName">Genre(Optional):</label>
		<input type="text" id="genreName" name="genreName">
		<label for="price">Price:</label>
		<input type="text" id="price" name="price">
        <label for="totalCount">Total Count:</label>
		<input type="text" id="totalCount" name="totalCount">
		<input type="submit" value="Add">
	</form>

	<!-- Table -->
<table id="book-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr >
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.bookID}}>
            <td>{{this.bookID}}</td>
            <td>{{this.bookName}}</td>
            <td>{{this.authorName}}</td>
			<td>{{this.genreName}}</td>
		    <td>{{this.price}}</td>
			<td>{{this.totalCount}}</td>
            <td><button onclick="deleteBook({{this.bookID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>


	<script>
// Function to delete a row from the table
function deleteRow(button) {
  // Traverse the DOM to get the table row element
  var row = button.parentNode.parentNode;

  // Remove the row from the table
  row.parentNode.removeChild(row);
}
      </script>
</body>