
<!--Everything in this file will be inserted into the body of main.hbs -->

	<!-- Add form -->
    <title>Genres</title>
    <body>
	<h1>Book Genre Relationship Information</h1>

{{!-- Form to add a record to the table  --}}
<form id="add-bookGenre-form">
    <select name="input-bookName" id="input-bookName">
        <option value="">Select a Book</option>
        {{#each books}}
        <option value="{{this.bookName}}">{{this.bookName}}</option>
        {{/each}}
    </select>

    <select name="input-genreName" id="input-genreName">
        <option value="">Select a Genre</option>
        {{#each genre}}
        <option value="{{this.genreName}}">{{this.genreName}}</option>
        {{/each}}
    </select>


    <input type="submit">
</form>

	<!-- Table -->

{{!-- Create a table --}}
<table id="bookGenre-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr >
            <th>bookName</th>
			<th>genreName</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr book-value={{this.bookID}} genre-value={{this.genreID}}>
            <td>{{this.bookName}}</td>
            <td>{{this.genreName}}</td>
            <td><button onclick="delete_bookGenre({{this.bookID}},{{this.genreID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>



	<script>
// Function to delete a row from the table
function deleteRow(button) {
  // Traverse the DOM to get the table row element
  var row = button.parentNode.parentNode;
  // Remove the row from the table
  row.parentNode.removeChild(row);
}
      </script>

<script src="./js/delete_bookGenre.js"></script>
<script src="./js/add_bookGenre.js"></script>