<title> Books</title>
<body>
<h1>Books Information</h1>

	<!-- Add form -->
    <form id="add-book-form">
    <label for="input-bookName">Book Name: </label>
    <input type="text" name="input-bookName" id="input-bookName">

    <select name="input-authorName" id="input-authorName">
        <option value="">Select an Author</option>
        {{#each authors}}
        <option value="{{this.authorID}}">{{this.authorName}}</option>
        {{/each}}
    </select>

    <select name="input-floorName" id="input-floorName">
        <option value="">Select a Floor</option>
        {{#each floors}}
        <option value="{{this.floorID}}">{{this.floorName}}</option>
        {{/each}}
    </select>

    <label for="input-price">Price: </label>
    <input type="number" name="input-price" id="input-price" min=".01" max="100" step=".01">

    <label for="input-bookCount">Book Count: </label>
    <input type="number" name="input-bookCount" id="input-bookCount" min="0" step="1">


    <input type="submit">
</form>

	<!-- Table -->
<table id="book-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr >
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.bookID}}>
            <td>{{this.bookID}}</td>
            <td>{{this.bookName}}</td>
            <td>{{this.authorName}}</td>
			<td>{{this.floorName}}</td>
		    <td>{{this.price}}</td>
			<td>{{this.totalCount}}</td>
            <td><button onclick="deleteBook({{this.bookID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Updating Book Info</h2>
<p>To update a specific book, select their name in the drop-down menu then select/enter in the new Information you want. If you arent updating a value it doesnt need to be entered.</p>
<form id="update-book-form-ajax">

    <label for="input-book">Genre: </label>
    <select name="input-book" id="mySelect">
        <option value="">Select a Book</option>
        {{#each data}}
        <option value="{{this.bookID}}">{{this.bookName}}</option>
        {{/each}}
    </select>

    <label for="input-author">Author: </label>
    <select name="input-author" id="input-author-update">
        <option value="">Select a Author</option>
        {{#each authors}}
        <option value="{{this.authorID}}">{{this.authorName}}</option>
        {{/each}}
    </select>

    <label for="input-floor">Floor: </label>
    <select name="input-floor" id="input-floor-update">
        <option value="">Select a Floor</option>
        {{#each floors}}
        <option value="{{this.floorID}}">{{this.floorName}}</option>
        {{/each}}
    </select>

    <label for="input-price">Price: </label>
    <input type="number" name="input-price" id="input-price-update" min=".01" max="100" step=".01">

    <label for="input-bookCount">Book Count: </label>
    <input type="number" name="input-bookCount" id="input-bookCount-update" min="0" step="1">

    <input type="submit">

</form>


</body>

<script src="./js/delete_books.js"></script>

<script src="./js/add_book.js"></script>

<script src="./js/update_book.js"></script>