<h1>Floors Information</h1>

{{!-- Form to add a record to the table --}}
<form id="add-floor-form">
    <select name="input-floorName" id="input-floorName-dropdown">
        <option value="">Select a Floor</option>
        {{#each floors}}
        <option value="{{this.floorName}}">{{this.floorName}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>

{{!-- Create a table --}}
<table id="floor-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

   {{!-- Body section --}}
<tbody>
    {{#if data.length}}
        {{!-- For each row, print the floorID and floorName in order --}}
        {{#each data}}
        <tr data-value={{this.floorID}}>
            <td>{{this.floorID}}</td>
            <td>{{this.floorName}}</td>
            <td><button onclick="deleteFloor({{this.floorID}})">Delete</button></td>
        </tr>
        {{/each}}
    {{else}}
        {{!-- If there is no data, print the preset data --}}
        {{#each floors}}
        <tr data-value="{{this.floorID}}">
            <td>{{this.floorID}}</td>
            <td>{{this.floorName}}</td>
            <td><button onclick="deleteFloor({{this.floorID}})">Delete</button></td>
        </tr>
        {{/each}}
    {{/if}}
</tbody>
</table>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_Floors.js"></script>
