<h1>Floors Information</h1>

{{!-- Form to add a record to the table --}}
<form id="add-floor-form">
   <label for="input-floorName">Floor Name: </label>
   <input type="text" name="input-floorName" id="input-floorName">

    <input type="submit">
</form>

{{!-- Create a table --}}
<table id="floor-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

   {{!-- Body section --}}
<tbody>
    {{#if data.length}}
        {{!-- For each row, print the floorID and floorName in order --}}
        {{#each data}}
        <tr data-value={{this.floorID}}>
            <td>{{this.floorID}}</td>
            <td>{{this.floorName}}</td>
            <td><button onclick="deleteFloor({{this.floorID}})">Delete</button></td>
        </tr>
        {{/each}}
    {{else}}
        {{!-- If there is no data, print the preset data --}}
        {{#each floors}}
        <tr data-value="{{this.floorID}}">
            <td>{{this.floorID}}</td>
            <td>{{this.floorName}}</td>
            <td><button onclick="deleteFloor({{this.floorID}})">Delete</button></td>
        </tr>
        {{/each}}
    {{/if}}
</tbody>
</table>

<h2>Updating a Floor's Name</h2>
<p>To update a specific floor name, select their name from the drop-down menu on the left and enter their new name on the right</p>
<form id="update-floor-form-ajax">

    <label for="input-floor">Floor: </label>
    <select name="input-author" id="mySelect">
        <option value="">Select a Floor</option>
        {{#each data}}
        <option value="{{this.floorID}}">{{this.floorName}}</option>
        {{/each}}
    </select>

    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name-update">

    <input type="submit">

</form>


{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_Floors.js"></script>
<script src="./js/delete_Floors.js"></script>
<script src="./js/update_floor.js"></script>